@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

    font-family: "Inter", sans-serif;;
}

body {
    height: 100vh;
    background: #fffff0;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

#choice {
    font-size: 1.5rem;
    padding: .25em .5em;
    border-radius: 1em;
    transition: .3s;
}
#choice:hover {
    cursor: pointer;
    scale: 1.1;
}

button {
    padding: .5em 1em;
    background: transparent;
    border: solid 2px #333;
    border-radius: 1em;
    transition: .3s;
}
button:hover {
    cursor: pointer;
    scale: 1.25;
    background: #333;
    color: #fffff0;
}