@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap');

:root {
  --clr-1: #6ce9c3;
  --clr-2: #ff6b7f;
  --clr-dark: #333;
  --clr-light: #fffff0;
}

/* geral */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

body {
  height: 100vh;
  background: var(--clr-light);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

/* typograph */
.title{font-size: 3rem;}
.subtitle{font-size: 2rem;}
.btn{font-size: 1.2rem;}

.gradient-text {
  background: linear-gradient(45deg, var(--clr-1) 0%, var(--clr-2) 100%);
  background-clip: text;
  color: transparent;
}

/* main */
.container {
  display: flex;
  flex-direction: column;
  gap: 1.2em;
}

.title {
  display: flex;
  flex-direction: column;
}
.subtitle{align-self: flex-end;}

.pts-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.btns-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

/* buttons */
.btn {
  padding: .5em 1em;
  border-radius: 2em;
  background: var(--clr-light);
  color: var(--clr-dark);
  border: solid .1em var(--clr-dark);
  transition: .3s;
}
.btn:hover {
  cursor: pointer;
  transform: translateY(-5px);
  background: var(--clr-dark);
  color: var(--clr-light);
}